/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #333;
}

html {
    font-size: 0.9em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    color:#333;
    font-size:1em;
    background:#001322 url(../images/body_bg1.jpg) repeat-x 0 top;
}

.left { float:left; }
.right { float:right!important; }
.full { float:left; width:100%; }
.curve { float:left; width:100%; }
.curve img { float:left }
span.clear { clear:both; }

.clear {
	clear: both;
}

.button, button, input[type='submit'] {
    display:inline-block;
    margin:3px 0;
    border:0px transparent;
    -webkit-border-radius: 4px;    
    border-radius: 4px;
    padding: 5px 14px;

    background:#0083CA;
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    font-size: 0.95em;
    cursor:pointer;
}

.button.active, button.active, input[type='submit'].active {
    background:#fff;
    color:#0083CA;
}

.button.orange, button.orange, input[type='submit'].orange {
    background: #fd6500; /* Old browsers */
    background: -moz-linear-gradient(top,  #fd6500 0%, #b8500c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd6500), color-stop(100%,#b8500c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fd6500 0%,#b8500c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fd6500 0%,#b8500c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fd6500 0%,#b8500c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fd6500 0%,#b8500c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd6500', endColorstr='#b8500c',GradientType=0 ); /* IE6-9 */
}

.button-box {
    width:100%;
    margin-top:20px;
    text-align:right;
}

a {
    color: #0161c2;
    text-decoration:none;
}


/******* wrapper *************/ 
#main { width:100%; float:left; }
.wrapper { width:980px; margin:0 auto; }
/******* wrapper ends *************/ 

/******* header *************/  
#header { width:100%; float:left; position:relative; height:102px; }
#header .logo { width:auto; float:left; margin-top:27px; margin-left:10px; display:inline; }
#header .header_right {
    position:absolute;
    top:0;
    right:0;
    width:350px;
}
#header .header_right ul { width:400px; float:right; list-style:none; }
#header .header_right ul li { width:auto; float:left; font-size:11px; background:url(../images/divider.gif) no-repeat left center; padding:0 5px 0 6px; }
#header .header_right ul li a { color:#99bbd2; text-decoration:none; }
#header .header_right ul li a:hover { text-decoration:none; }
#header .header_right ul li.first { background:none; }
#header .header_right a.back { float:right; margin-top:10px; }
/******* header ends *************/ 

/******* body container *************/ 
#outer{width:100%; float:left; background:#f4f4f4 url(../images/top_bg1.jpg) repeat-x 0 top;}
#outer_body_container {
	float:left;
	width:100%;
	/*background:url(../images/body_bottom.gif) repeat-x 0 bottom;*/
}
#body_container { width:980px; float:left; background:url(../images/body_content_bg.png) repeat-y 0 0; position:relative; z-index:99; }
#body_container .top_section { width:980px; float:left; background:url(../images/top_bg.jpg) no-repeat 0 0; height:46px; }

/********************************
 ** Phase header in Masterpage **
 ********************************/ 
#body_container .top_section {
	position:relative;
	width: 960px;
	padding: 13px 10px 0;
	height:auto;
}

.phase-header {

	width:958px;
	height:75px;
	padding:0 1px;
}
.phase-buttons {
	float:left;
	margin-top:33px;
}
.phase {
	position:relative;
	float:left;
	height: 35px;
	width: 239.5px;
	padding-top:7px;
	border-bottom: 1px solid #fff;
	background: url("../images/bg-phase.png") repeat-x #002a5b;
	
	color: rgb(255,255,255);
	text-align:center;
	font-size: 1.3em;
	/*font-weight:bold;*/
	text-shadow: 1px 1px 2px #333333;
	filter: dropshadow(color=#333333, offx=1, offy=1);
}

.phase a {
	display:block;
	width: 100%;
	height: 100%;
}

.phase.one:after, .phase.two:after, .phase.three:after {
	content: url('../images/after-phase.png');
	position:absolute;
	top:0;
	left:239.5px;
	z-index: 9999;
}

.phase.active/*, .phase:hover */{
	background: url("../images/bg-phase-active.png") repeat-x #0279c8;
}

.phase:hover {
    cursor:pointer;
}

.phase img {
	display:none;
}

.phase.active img{
	display:block;
	position:absolute;
	top: -23px;
	left:72.25px;
}

.phase.one.active:after, .phase.two.active:after, .phase.three.active:after/*, .phase:hover:after*/ {
	content: url('../images/after-phase-active.png');
	position:absolute;
	top:0;
	left:239.5px;
}

.phase-shadow {
	z-index:-1;
	position:absolute;
	top:89px;
	width: 958px;
	height: 20px;
	margin: 0 1px;
	background: -moz-linear-gradient(top,  rgba(200,200,200,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,200,200,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(200,200,200,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#page-info {
	float:left;
	width: 900px;
	padding: 10px 30px 0;
	background: url("../images/bg-page-info.png") repeat-x bottom;
}

#page-info h1  {
	float:left;
    max-width:825px;
	margin:13px 0 20px;
    color: #013671;
	font-family: 'Myriad Pro';
    font-size: 34px;
	font-weight:bold;
}

#page-info a {
	float:right;
	margin-top:25px;
}

#date-bar {
    position: relative;
	float:left;
	height: 21px;
	width: 918px;
	margin: 0 1px;
	padding: 6px 20px 1px;
	
	border-top: 1px solid #D3D3D4;
	border-bottom: 1px solid #D3D3D4;
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(225,225,225,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */

    font-size:0.8em;
}

#date-bar a {
	text-decoration: none;
}

#date-bar a:after {
    position: relative;
    top:2px;
    content: url("../images/after-breadcrumb.png");
    padding: 0px 10px;
}

#date-bar .time {
	float:right;
	padding:0;
}

#date-shadow {
    float:left;
	height: 20px;
	width: 898px;
	margin: 0 1px;
	padding: 1px 30px;
    background: url("../images/bg-main-content.png") repeat-x;
}

/******************
 ** Main Content **
 ******************/

/* Chart table styling */

.httable {
    width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
}
    
    .pannelheader {
        margin: 0;
        border: 1px solid #ccc;
        border-bottom: none;
        padding: 5px 10px;


        color: #fff;
        font-weight: normal;
        font-size: 20px;
        font-family: "Myriad Pro";
        line-height: 25px;

        background: rgb(0,77,136);
        background: -moz-linear-gradient(top,  rgba(0,77,136,1) 0%, rgba(0,22,44,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%);
        background: linear-gradient(to bottom,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d88', endColorstr='#00162c',GradientType=0 );
    }

    .httable > tbody > tr > td {
        border: 1px solid #CCC;
        padding: 10px;
    }
        
        .httable td.cellquest {
            width: 70%;
            font-weight: bold;
        }

        .httable > tbody > tr:nth-child(even) {
            background-color: #E5F2F8;
        }

    .httable label {
        padding-left: 5px;
    }

/* End chart table styling */

.table {
    width:100%;
    -webkit-box-shadow:  0px 0px 3px 1px #d8d8d3;    
    box-shadow:  0px 0px 3px 1px #d8d8d3;
}

.table th {
    border: 1px solid #ccc; 
    padding: 5px 10px;
    
    background: rgb(0,77,136); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,77,136,1) 0%, rgba(0,22,44,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,77,136,1)), color-stop(100%,rgba(0,22,44,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d88', endColorstr='#00162c',GradientType=0 ); /* IE6-9 */
    text-align: left;
    color:#fff;
    font-weight:bold;
}

.table tr td {
    border: 1px solid #ccc;
    background: #fff;
    padding: 5px 10px;
    color:#333333;
}

.table .bg td {
    background: #e5f2f8;
}

.table .red-row {
    border: 2px solid #FF0000;
}

.table .red-row td {
    background-color: #FCF2F2;
}

.header-box {
    border: #ccc;
    -webkit-border-radius: 5px;
    border-radius:5px;
    overflow: hidden;
    -webkit-box-shadow:  0px 0px 3px 1px #d8d8d3;    
    box-shadow:  0px 0px 3px 1px #d8d8d3;
}

.header-box .head {
    padding: 8px 0;
    
    background: rgb(0,77,136); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,77,136,1) 0%, rgba(0,22,44,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,77,136,1)), color-stop(100%,rgba(0,22,44,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d88', endColorstr='#00162c',GradientType=0 ); /* IE6-9 */

    color: #fff;
    text-align:center;
    font-size:1.1em;
}

.header-box .body {
    padding:20px;
    font-size:0.95em;
}

.action-box {
    padding:30px;
    background-color: #dfe6ec;

    -webkit-border-radius:5px;
    border-radius:5px;
}

#placeholder-content {
    float: left;
    min-height:400px;
    margin: 0 35px;
    padding-bottom:20px;
}

.main_content { 
    float:left;    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:890px;
    margin: 0 10px;
    padding:30px 0px 15px;
    
}

.sumbit_chart_btn {
    text-align:right;
}


.main_content .welcom_box { width:100%; float:left; height:140px; background:url(../images/top_head_bg.jpg) no-repeat 0 0; margin-bottom:30px; }
.main_content .welcom_box h3 { font-size:20px; font-family:Trajan Pro; color:#ccd7e4; text-transform:inherit; text-align:center; padding-top:35px; padding-bottom:0px; text-shadow: 1px 1px 1px #000 }
.main_content h1 { font-size:51px; font-family:"Myriad Pro"; color:#fff; text-align:center; line-height:51px; }
.main_content .heading_box { background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px; }
.main_content h2 { float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px; }
.main_content h2 strong{ font-size:34px}
.main_content h2 .red{ color:#ff6600; font-size:24px; line-height:29px}
.main_content h4 { font-size:18px; color:#fff; font-family:"Myriad Pro"; font-weight:bold; padding:8px 0px 11px; float:left; line-height:20px; width:100%; }
.main_content h4 em { float:left; padding:0 18px; font-style: normal }
.main_content form { width:100%; float:left; }
.main_content fieldset { width:100%; float:left; }

.save_brn_area { width:100%; float:left; margin-top:15px; }
.save_brn_area input.save { width:228px; height:37px; float:right; border:0; cursor:pointer; background:url(../images/save.png) no-repeat 0 0; }
.save_brn_area input.profile_save{ width:292px; height:37px; float:right; border:0; cursor:pointer; background:url(../images/save_profile.png) no-repeat 0 0}

.bottom_strip { width:970px; float:left; display:inline; height:13px; background:url(../images/bottom_strip.gif) no-repeat 0 0; margin-left:10px; }
/******* body container ends *************/ 


/******* module detailes *************/
.module_details{ width:910px; float:left; padding:25px 35px 15px;}
.module_details .heading_box{background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px;}
.module_details .heading_box h2{float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px;}
.module_details .heading_box .heading_right{ float:right; width:auto}
.module_details .heading_box .heading_right ul{ float:left; width:auto; list-style:none}
.module_details .heading_box .heading_right ul li{ float:left; width:auto}
.module_details .module_contant_details{ float:left; width:100%}
.module_details .module_contant_details .module_contant_details_box{ float:left; width:908px; background:url(../images/module_box_repeat_curve.jpg) repeat-y 0 0; margin-bottom:10px}
.module_details .module_contant_details .module_contant_top_curve{ float:left; width:908px; background:url(../images/module_heading_bg.jpg) no-repeat 0 0;  }
.module_details .module_contant_details .module_contant_bottom_curve{ float:left; width:908px; background:url(../images/module_box_bottom_curve.jpg) no-repeat 0 bottom; padding-bottom:20px}
.module_details .module_contant_details .module_inner_contant{ float:left; width:100%}
.module_details .module_contant_details .module_inner_contant .top{ float:left; width:100%; padding:7px 0 5px 0}
.module_details .module_contant_details .module_inner_contant .top h3{ float:left; width:auto; font-size:19px; color:#fff; line-height:23px; font-family:"Myriad Pro"; padding-bottom:20px; padding-left:19px; padding-top:5px; }
.module_details .module_contant_details .module_inner_contant .top .top_right{ float:right; width:400px}
.module_details .module_contant_details .module_inner_contant .top .top_right p{ float:left; width:300px; color:#f9fbfb; font-size:12px; line-height:17px; padding-top:8px; font-weight:bold; text-align:right}
.module_details .module_contant_details .module_inner_contant .contant_details{ float:left; width:872px; padding: 0 17px 0 19px}
.modules_box1{ float:left; width:267px}
.modules_box1 h4{ float:left; width:100%; font-size:14px; color:#013671; line-height:19px; font-weight:bold; padding-bottom:10px}
.modules_box1 p{ float:left; width:100%; font-size:12px; color:#202020; line-height:17px}
.modules_box1.middle{ float:left; width:258px; padding: 0 35px 0 32px}
.modules_box1 ul{ float:left; width:100%; list-style:none}
.modules_box1 ul li{ float:left; width:100%; padding-bottom:5px}
.modules_box1 ul li p{ float:left; width:100%; font-size:12px; color:#202020; line-height:17px}
.modules_box1.last{ float:left; width:240px; padding: 0 0 0 25px}
.confirm_btn{ float:right; width:78px; margin: 0 10px; display:inline; height:36px}
.confirm_btn img{ float:left; vertical-align:middle}

/******* module detaile ends *************/


/******* improvenment plan *************/
.improvement_plan{ width:910px; float:left; padding:25px 35px 15px;}
.improvement_plan .heading_box{background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px;}
.improvement_plan .heading_box h2{float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px;}
.improvement_plan .improvement_plan_details{ float:left; width:100%}
.improvement_plan .improvement_plan_details .top_details{ float:left; width:100%; padding-top:20px; border-bottom: solid 1px #e2e4e5}
.improvement_plan .improvement_plan_details .top_details p{ float:left; width:100%; font-size:13px; color:#333333; line-height:18px; padding-bottom:15px}
.improvement_plan .improvement_plan_details .measures_selected_box{ float:left; width:100%}
.improvement_plan .improvement_plan_details .measures_selected_box h3{float:left; width:auto; font-size:16px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding:10px 0; line-height:21px;}



.plan_list .plan_list_row{ float:left; width:522px; list-style:none; padding:12px 0}
.plan_list .plan_list_row .plan_list_col{float:left; width:260px}
.plan_list .plan_list_row .plan_list_col .common_col{ float:left; width:100%}
.plan_list .plan_list_row .plan_list_col .common_col .check{ float:left; margin-right:4px; display:inline }
.plan_list .plan_list_row .plan_list_col .common_col p{ float:left; width:228px; font-size:12px; color:#000; line-height:17px; padding-top:2px; font-weight: bold}
.plan_list .plan_list_row .plan_list_col .common_col .other{ float:left; width:230px}
.plan_list .plan_list_row .plan_list_col .common_col .other label{font-size:12px; color:#000; line-height:17px; float:left; width:auto;font-weight: bold; margin-right:3px; display:inline }
.plan_list .plan_list_row .plan_list_col .common_col .other .input_bg{ float:left; width:158px; background:url(../images/input_bg2.jpg) no-repeat 0 0}
.plan_list .plan_list_row .plan_list_col .common_col .other .input_bg input{ float:left; width:153px; background:none; border:none; padding:2px 0 2px 5px}

.activites_details{ float:left; width:100%}
.activites_details h3{float:left; width:auto; font-size:16px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding:15px 0 0 0; line-height:21px; padding-left:4px}
.activites_box{ float:left; width:100%; background:url(../images/activites_box_repeat_curve.jpg) repeat-y 0 0}
.activites_box_top_curve{ float:left; width:100%; background:url(../images/activites_box_top_curve.jpg) no-repeat 0 0}
.activites_box_bottom_curve{ float:left; width:100%; background:url(../images/activites_box_bottom_curve.jpg) no-repeat 0 bottom; padding-bottom:15px}
.activites_top_details{ float:left; width:893px; padding: 15px 5px 10px 10px }
.activites_top_details .activites_row{ float:left; width:893px; }
.activites_top_details .activites_row .activites_col1{ float:left; width:453px; font-size:11px; color:#013671; line-height:16px; padding-left:10px; font-weight:bold;}
.activites_top_details .activites_row .activites_col2{float:left; width:86px; font-size:11px; color:#013671; line-height:16px; text-align:center; font-weight:bold; }
.activites_inner_contant{ float:left; width:898px; padding: 3px 7px 0 5px}
.activites_inner_contant .contant_row{ float:left; width:100%; padding:5px 0; border-bottom: solid 1px #dbdbdb}
.activites_inner_contant .contant_row.none{ border-bottom:none}
.activites_inner_contant .contant_row .contant_col1{ float:left; width:454px; font-size:12px; color:#000; line-height:17px; padding-left:12px; font-weight:bold}
.activites_inner_contant .contant_row .contant_col2{ float:left; width:86px; text-align:center}
.activites_inner_contant .contant_row .contant_col2 .radio{ float:none; display:inline}
.statmetnt_brn_area{ float:left; width:100%; margin-right:5px; }
.statmetnt_brn_area input.statmetnt_btn{ width:67px; height:38px; float:right; border:0; cursor:pointer; background:url(../images/submit_btn.jpg) no-repeat 0 0}

.improvement_plan_form_container .bottom{ float:left; width:100%; margin-top:10px}
.improvement_plan_form_container .bottom ul{ float:right; width:auto; list-style:none}
.improvement_plan_form_container .bottom ul li{ float:left; width:auto}
/******* improvenment plan ends *************/

/******* registration form *************/

.registration_common_box{ float:left; width:100%}
.registration_common_box h3{ float:left; width:auto; font-size:20px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding: 30px 0 15px 5px; line-height:25px;}
.registraton_top_box{ float: left; width:910px; background:url(../images/registration_repeat_curve.jpg) repeat-y 0 0}

.rigistration_contant_box_details{ float:left; width:900px;}
.rigistration_contant_box_details .registration_row1{ float:left; width:900px;background:url(../images/repeat_bg_white_registration.jpg) repeat-y 0 0; font-size:11px; color:#000; padding:7px 0 3px 0; border-bottom: solid 1px #dbdbdb}
.rigistration_contant_box_details .registration_row1.none{ background:none; border-bottom:none}
.rigistration_contant_box_details .registration_row1 .col4{ float:left; width:220px; line-height:16px;  padding:0px 0 0px 12px; }
.rigistration_contant_box_details .registration_row1 .col4 select{ float:left; width:215px}
.rigistration_contant_box_details .registration_row1 .col5{ float:left; width:62px; text-align:center}
.rigistration_contant_box_details .registration_row1 .col51 .input_bg{ float:left; background:url(../images/input_bg_form.jpg) no-repeat 0 0; width:48px; height:28px; margin-left:5px; display:inline}
.rigistration_contant_box_details .registration_row1 .col51 .input_bg input{ float:left; width:48px; text-align:center; background:none; border:none}
.rigistration_contant_box_details .registration_row1 .col6{float:left; width:99px; text-align:center; padding-top:3px}
.rigistration_contant_box_details .registration_row1 .col7{float:left; width:95px; text-align:center}
.rigistration_contant_box_details .registration_row1 .col7 select{ float:left; width:55px; font-size:12px; color:#333333; line-height:17px; text-transform:capitalize; margin-left:20px; display:inline}
.rigistration_contant_box_details .registration_row1 .col8{float:left; width:93px; text-align:center}
.rigistration_contant_box_details .registration_row1 .col8 select{ float:left; width:55px; font-size:12px; color:#333333; line-height:17px; text-transform:capitalize; margin-left:20px; display:inline}
.rigistration_contant_box_details .registration_row1 .col9{float:left; width:118px; text-align:center}
.rigistration_contant_box_details .registration_row1 .col9 select{ float:left; width:55px; font-size:12px; color:#333333; line-height:17px; text-transform:capitalize; margin-left:25px; display:inline}
.rigistration_contant_box_details .registration_row1 .co20{float:left; width:69px; text-align:center}
.rigistration_contant_box_details .registration_row1 .co211 .input_bg{ float:left; background:url(../images/input_bg_form.jpg) no-repeat 0 0; width:48px; height:28px; margin-left:5px; }
.rigistration_contant_box_details .registration_row1 .co211 .input_bg input{ float:left; width:42px; text-align:center; background:none; border:none; padding: 2px 0 0 3px}
.rigistration_contant_box_details .registration_row1 .co21{float:left; width:65px; text-align:center}
.registration_form .registration_bottom{ float:left; width:100%; padding:15px 0}
.registration_form .registration_bottom ul{ float:right; width:auto; list-style:none}
.registration_form .registration_bottom ul li{ float:left; width:auto}
.registration_form .registration_bottom ul li img{ float:left}
/******* registration form ends *************/

.main_content .heading_box .top_nav{width:auto; float:right; padding-top:22px}
.main_content .heading_box .top_nav ul{width:auto; float:left; list-style:none;}
.main_content .heading_box .top_nav ul li{width:auto; float:left; color:#013671; font-size:14px; line-height:16px; margin-right:5px; display:inline}
.main_content .heading_box .top_nav ul li a{width:auto; float:left; text-decoration:none; color:#013671;  height:32px; padding-left:6px; cursor:pointer; background:url(../images/nav_left_curve.jpg) no-repeat 0 -32px;}
.main_content .heading_box .top_nav ul li a span{width:auto; float:left; color:#fff; height:22px; font-size:14px; line-height:20px; padding:5px 10px 5px 0; background:url(../images/nav_right_curve.jpg) no-repeat right -32px;}
.main_content .heading_box .top_nav ul li a:hover{background-position:0 0;}
.main_content .heading_box .top_nav ul li a:hover span{color:#013671; background:url(../images/nav_right_curve.jpg) no-repeat right 0;}
.main_content .heading_box .top_nav ul li.active a{color:#fff; background-position:0 0;}
.main_content .heading_box .top_nav ul li.active a span{color:#013671; background:url(../images/nav_right_curve.jpg) no-repeat right 0;}




/******** footer **********/
#outer_footer { width:100%; float:left; background:#011222 url(../images/footer_bg.jpg) repeat-x 0 0; margin-top:-42px; position:relative; z-index:9; padding-top:70px;}
#footer { width:980px; float:left; padding-bottom:20px; }
#footer h4 {
    width:100%;
    margin:0;
    color:#fff;
    font-size:18px;
    line-height:20px;
    font-weight:normal;
}
#footer .col1 { width:450px; float:left; margin-left:25px; display:inline; }
#footer .col1 p {
    color:#cccccc;
    font-size:12px;
    line-height:18px;
}
#footer .col2 { width:290px; float:left; border-left:1px solid #808d98; padding-left:200px; min-height:115px; height:auto !important; height:115px; }
#footer .col2 ul {
    float:left;
    width:100%;
    margin-top:0;
    padding-left:0;
    list-style:none;
}
#footer .col2 ul li { width:auto; float:left; font-size:12px; background:url(../images/divider.gif) no-repeat left center; padding:0 10px; }
#footer .col2 ul li a { color:#fff7a3; text-decoration:none; text-decoration:underline; }
#footer .col2 ul li a:hover { text-decoration:none; }
#footer .col2 ul li.none { background:none; padding-left:0; }
#footer .col2 p { font-size:12px; color:#cccccc; line-height:18px; padding-bottom:7px; }
#footer .col2 .social_link{ float:left; width:auto}
#footer .col2 .board_logo{ float:left}
#footer .col2 form { width:100%; float: left; }
#footer .col2 .row { width:100%; float:left; padding-bottom:10px; }
#footer .col2 .row .input_box { width:221px; height:25px; float:left; background:url(../images/input_bg.gif) no-repeat 0 0; margin-top:1px; }
#footer .col2 .row .input_box input { width:201px; float:left; border:0; background:none; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#565656; padding:6px 10px; }
#footer .col2 .row input.btn { width:31px; height:27px; float:left; border:0; background:url(../images/search_btn.gif) no-repeat 0 0; margin-top:0; cursor:pointer; margin-left:7px; } 
 
/******** footer ends **********/

.button_with_arrow {position: relative; width: 100%;  /* for IE 6 */  }    
.button_with_arrow h3 {position: absolute; top: 6px; left: 3px; width: 100%; color: white; color: white; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; letter-spacing: 0px; cursor:inherit;}
.button_orange {position: relative;  width: 100%; text-decoration:none; /* for IE 6 */ }    
.button_orange h5 {position: absolute; top: 6px; left: 15px; width: 100%; color: white; color: white; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; letter-spacing: 0px; cursor:inherit;}
.abutton_orange h5 span { text-decoration:none; }

.bginput{ float:right; margin: 20px 5px 0 0px; background: url(../images/big_orange_button.png) no-repeat; overflow:hidden; height:29px;}
.bginput a{ color: white; text-align:center; height:29px; line-height:26px; padding:0 14px 10px; cursor:pointer; float:left; border:none; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; letter-spacing: 0px;}
.bginput a:hover{ text-decoration:none; }

.bginputarrow{ float:right; margin: 20px 5px 0 0px; background: url(../images/orange_button_with_arrow.png) no-repeat; overflow:hidden; height:29px;}
.bginputarrow a{ color: white; text-align:left; height:29px; line-height:20px;  margin-left:10px; padding:0 14px 10px; cursor:pointer; float:left; border:none; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; letter-spacing: 0px;}
.bginputarrow a:hover{ text-decoration:none; }

.modules_overview_outcome{ float:left; width:100%; padding-top:10px; padding-bottom:10px;}
.modules_overview_outcome ul{ float:left; width:100%; list-style:none padding:0px 0px 0px 0px;}
.modules_overview_outcome ul li{ float:left; width:100%; padding-bottom:0px; padding:0px 0px 0px 0px;}
.modules_overview_outcome ul li p{ float:left; width:100%; font-size:12px; color:#202020; line-height:0px;  padding:15px 15px 15px 15px;}

/******** Chart Abstracts **********/

.pim {}
/* Standard chart abstract heading */
.pim .heading_box{background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px; vertical-align:middle;}
.pim .heading_box h2{float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px;}
.pim .heading_box h3{ float:right; width:auto; font-size:18px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:23px;}
/******** Table look and feel ************/
/*.pim table { border-collapse: collapse; }*/
.pim th {
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: rgb(0,77,136); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,77,136,1) 0%, rgba(0,22,44,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,77,136,1)), color-stop(100%,rgba(0,22,44,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,77,136,1) 0%,rgba(0,22,44,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d88', endColorstr='#00162c',GradientType=0 ); /* IE6-9 */
    text-align: left;
    color:#fff;
    font-weight: normal;
}
.pim th p {
    margin:0;
    padding:0;
    font-size:20px;
    font-family:"Myriad Pro"; line-height:25px;
}
.pim td { border: 1px solid #ccc; padding:10px 10px 10px 10px;}
/* Dark blue header with white font for table */
.pim .table_header { font-size:20px; color:#fff; font-family:"Myriad Pro"; font-weight:normal; line-height:25px; padding:9px 0 7px 20px; background:url(../images/abo_top_curve.jpg) no-repeat 0 0; }
/* table body properties: default white background */
.pim .table_body { background: #fff;/*url(../images/abo_bg_white.jpg) repeat-y 0 0*/ padding: 9px 10px 7px 20px; font-size:13px; color:#333333; }
/* light blue background */
.pim .table_body_bg { background: #e5f2f8; padding: 9px 10px 7px 20px; font-size:13px; color:#333333; }
.pim check { vertical-align:top;}
.aspxList td {border: 0px solid transparent; padding: 0px 10px 0px 0px; vertical-align: top;}

.errorMsg { color:Red; margin-left:10px;}

.record-first {
    float:left;
}
.record-second {
    float:right;
}

.timeout
{
	position: fixed;
   	top: 0;
    left:0;
	width:100%;
    border-bottom: 1px solid #333;
    padding: 10px 0;
    z-index: 9999;
    -webkit-box-shadow: 0 0 5px 1px #333;
	box-shadow: 0 0 5px 1px #333;
    background-color: #6699FF;
    color: #fff;
    text-align: center;
    font-weight: bold; 
}

/*****************************
 ** Activity Selection Review **
 *****************************/

.text-panel {
    float:left;
    width:570px;
}

.progress-panel {
    float:right;
    width:270px;
    border: 1px solid #aaa;
    -webkit-border-radius:8px;
    border-radius:8px;
    padding:15px;

    background: rgb(255,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 50%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 50%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */

    text-align: center;

    -webkit-box-shadow:  0px 0px 5px 1px #d8d8d3;    
    box-shadow:  0px 0px 5px 1px #d8d8d3;
}

.progress-panel h3 {
    margin: 5px 0;
}

.progressbar {
    position:relative;
    width:100%;
    height: 25px;
    border:1px solid #ccc;
    background: url("../images/bg-slider.png") repeat-x;    
}
        
.progress {
    position:absolute;

    padding:0px; 
    height:100%;
    background: rgb(244,115,5); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NzMwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOTg4MDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(244,115,5,1) 0%, rgba(201,136,3,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,115,5,1)), color-stop(100%,rgba(201,136,3,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(244,115,5,1) 0%,rgba(201,136,3,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(244,115,5,1) 0%,rgba(201,136,3,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(244,115,5,1) 0%,rgba(201,136,3,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(244,115,5,1) 0%,rgba(201,136,3,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47305', endColorstr='#c98803',GradientType=0 ); /* IE6-8 */   
}
.progress p {
    margin:2px 0 0;
    padding:0;
    font-size: 16px;
    font-weight:bolder;
    width:100%;
    text-align:right;
    color:#fff;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Rows
 */
.row {
    margin-bottom: 20px;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


@media print {
    body { 
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
}