body, div, ul, li, h1, h2, h3, h4, h5, h6, form, fieldset, p { padding:0; margin:0; font-weight:normal; }
body { font-family:Arial, Helvetica, sans-serif; color:#616265; font-size:12px; background:#001322 url(../images/body_bg1.jpg) repeat-x 0 top; }
img, fieldset { border:none; margin:0; padding:0; }
.left { float:left; }
.right { float:right!important; }
.full { float:left; width:100%; }
.curve { float:left; width:100%; }
.curve img { float:left }
span.clear { clear:both; }
a:focus { outline:none; }
/******* wrapper *************/ 
#main { width:100%; float:left; }
.wrapper { width:980px; margin:0 auto; }
/******* wrapper ends *************/ 

/******* header *************/  
#header { width:100%; float:left; position:relative; height:102px; }
#header .logo { width:auto; float:left; margin-top:27px; margin-left:10px; display:inline; }
#header .header_right { width:350px; float:right; margin-top:35px; }
#header .header_right ul { width:auto; float:right; list-style:none; }
#header .header_right ul li { width:auto; float:left; font-size:11px; background:url(../images/divider.gif) no-repeat left center; padding:0 3px 0 6px; }
#header .header_right ul li a { color:#99bbd2; text-decoration:none; }
#header .header_right ul li a:hover { text-decoration:none; }
#header .header_right ul li.first { background:none; }
#header .header_right a.back { float:right; margin-top:10px; }
/******* header ends *************/ 

/******* body container *************/ 
#outer{width:100%; float:left; background:#f4f4f4 url(../images/top_bg1.jpg) repeat-x 0 top;}
#outer_body_container { width:100%; float:left;background:url(../images/body_bottom.gif) repeat-x 0 bottom;  }
#body_container { width:980px; float:left; background:url(../images/body_content_bg.png) repeat-y 0 0; position:relative; z-index:99; }
#body_container .top_section { width:980px; float:left; background:url(../images/top_bg.jpg) no-repeat 0 0; height:46px; }
/******* breadcrumb *************/ 
.bread_crumb { width:auto; float:left; padding:24px 0 0 20px; }
.bread_crumb ul { width:auto; float:left; list-style:none; }
.bread_crumb ul li { width:auto; float:left; font-size:10px; color:#000; margin-right:5px; font-weight:bold; }
.bread_crumb ul li a { color:#000; text-decoration: none; font-weight:normal; }
.bread_crumb ul li a:hover { text-decoration: none; }
.bread_crumb ul li.active a{ color:#4595b4}


.time { width:auto; float:right; padding:24px 20px 0; color:#000; }
/******* breadcrumb ends *************/ 

.main_content { width:910px; float:left; padding:25px 35px 15px; }
.main_content .welcom_box { width:100%; float:left; height:140px; background:url(../images/top_head_bg.jpg) no-repeat 0 0; margin-bottom:30px; }
.main_content .welcom_box h3 { font-size:20px; font-family:Trajan Pro; color:#ccd7e4; text-transform:inherit; text-align:center; padding-top:35px; padding-bottom:0px; text-shadow: 1px 1px 1px #000 }
.main_content h1 { font-size:51px; font-family:"Myriad Pro"; color:#fff; text-align:center; line-height:51px; }
.main_content .heading_box { background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px; }
.main_content h2 { float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px; }
.main_content h2 strong{ font-size:34px}
.main_content h2 .red{ color:#ff6600; font-size:24px; line-height:29px}
.main_content h4 { font-size:18px; color:#fff; font-family:"Myriad Pro"; font-weight:bold; padding:8px 0px 11px; float:left; line-height:20px; width:100%; }
.main_content h4 em { float:left; padding:0 18px; font-style: normal }
.main_content form { width:100%; float:left; }
.main_content fieldset { width:100%; float:left; }

.full_box1 { width:910px; float:left; background:url(../images/full_bg1.gif) repeat-y 0 0; margin-bottom:15px; }
.full_box1 .top_curve { width:100%; float:left; background:url(../images/full_head1.gif) no-repeat 0 0; padding-top:6px; }
.full_box1 .btm_curve { width:100%; float:left; background:url(../images/full_btm1.gif) no-repeat 0 bottom; padding-bottom:6px; }
.full_box1 .inner_box { width:898px; float:left; padding:0 6px; }
.full_box1 .inner_content { width:100%; float:left; }
.full_box1 .inner_box span.note { width:auto; float:right; font-size:12px; color:#bfcbd4; margin:0px 15px 0px 0; font-weight:normal; font-family:Arial, Helvetica, sans-serif; }
.full_box1 .inner_box .box1 { width:278px; float:left; margin-left:20px; display:inline; padding-top:20px; }
.full_box1 .inner_box .box2 { width:278px; float:left; background:url(../images/border1.gif) repeat-y left 0; padding-left:22px; padding-top:20px; min-height:125px; height:auto!important; height:125px; }
.full_box1 .inner_box .row { width:100%; float:left; padding-bottom:20px; }
.full_box1 .inner_box .row label { width:100%; float:left; font-size:14px; font-weight:bold; color:#013671; padding-bottom:5px; }
.full_box1 .inner_box .row input { width:250px; float:left; border:1px solid #7e9db9; padding:3px 5px; font-size:11px; line-height:14px; color:#000; margin-top:0; }
.full_box1 .inner_box .row input.ph1 { width:30px; margin-right:5px; }
.full_box1 .inner_box .row input.ph2 { width:58px; }
.full_box1 .inner_box .row input.check { width:16px; height:16px; float:left; margin:5px 5px 0 0px; background:none; padding:0; border:0; }
.full_box1 .inner_box .row span.text { float:left; font-size:12px; font-weight:bold; color:#494949; padding:5px 10px 0 0; }

.full_box2 { width:910px; float:left; background:url(../images/full_bg2.gif) repeat-y 0 0; }
.full_box2 .top_curve { width:100%; float:left; background:url(../images/full_head1.gif) no-repeat 0 0; padding-top:6px; }
.full_box2 .btm_curve { width:100%; float:left; background:url(../images/full_btm2.gif) no-repeat 0 bottom; padding-bottom:6px; }
.full_box2 .inner_box { width:898px; float:left; padding:0 6px; }
.full_box2 .inner_content { width:100%; float:left; }
.full_box2 .inner_content ul.profile_info { width:100%; float:left; list-style:none; }
.full_box2 .inner_content ul.profile_info li { width:100%; float:left; font-size:14px; color:#013671; border-bottom:1px solid #d4d4d4; }
.full_box2 .inner_content ul.profile_info li.last{ border-bottom:none}
.full_box2 .inner_content ul.profile_info li strong { float:left; padding:8px 0 8px 18px; }
.full_box2 .inner_content ul.profile_info li .right_details { width:283px; float:right; border-left:1px solid #d4d4d4; padding:8px 0 8px 20px; }
.full_box2 .inner_content ul.profile_info li.gray { background:#ecf5fa; }
.full_box2 .inner_content ul.profile_info li .right_details p { font-size:12px; color:#494949; font-weight:bold; }
.full_box2 .inner_content ul.profile_info li .right_details select { width:83px; float:left; }
.full_box2 .inner_content ul.profile_info li input.other { width:50px; border:1px solid #7e9db9; padding:3px 5px; font-size:11px; line-height:14px; color:#000; margin-top:0; }
.full_box2 .inner_content ul.profile_info li input.other.school { width:73px }
.full_box2 .inner_content ul.profile_info li.pad1 strong { padding-top:10px; }
.full_box2 .inner_content ul.profile_info li.pad2 strong { padding-top:28px; }
.full_box2 .inner_content ul.profile_info li.pad3 strong { padding-top:70px; }
.full_box2 .inner_content ul.profile_info li.pad4 strong { padding-top:30px; }
.full_box2 .inner_content ul.profile_info li.pad5 strong { padding-top:60px; }
.save_brn_area { width:100%; float:left; margin-top:15px; }
.save_brn_area input.save { width:228px; height:37px; float:right; border:0; cursor:pointer; background:url(../images/save.png) no-repeat 0 0; }
.bottom_strip { width:970px; float:left; display:inline; height:13px; background:url(../images/bottom_strip.gif) no-repeat 0 0; margin-left:10px; }
/******* body container ends *************/ 


/******* module overview *************/ 
.module_overview{ width:910px; float:left; padding:25px 35px 15px; }
.module_overview .heading_box { background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px; }
.module_overview h2 { float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px; }
.module_overview .module_selection{ float:right; width:auto; padding-top:3px}
.module_overview .module_selection ul{ float:left; list-style:none}
.module_overview .module_selection ul li{ float:left}
.module_overview_details{ float:left; width:100%}
.module_inner_content { width:100%; float:left; }
.module_inner_content h4{font-size:18px; color:#fff; font-family:"Myriad Pro"; font-weight:normal; padding:8px 0px 8px 11px; float:left; line-height:20px; width:auto; width:887px }
.module_inner_content p{ float:left; width:864px; font-size:12px; color:#202020; line-height:17px; padding: 25px 17px 25px 17px}
.module_overview_details .view{ float:left; width:100%}
.module_overview_details .view ul{ float:right; width:auto; list-style:none}
.module_overview_details .view ul li{ float:left; width:auto}
/******* module overview ends *************/ 


/******* chart registration *************/ 
.chart_registration{width:910px; float:left; padding:25px 35px 15px; }
.chart_registration .heading_box{background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px;}
.chart_registration h2{ float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px; }
.chart_registration .chart_registration_details{ float:left; width:100%}
.chart_registration .chart_registration_details h3{ float:left; width:100%; font-size:22px; color:#013671; line-height:25px; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:3px}
.chart_registration .chart_registration_details h3 .green1{ color:#009900}
.chart_registration .chart_registration_details form{ float:left; width:100%}
.chart_registration .chart_registration_details .chart_details_box{ float:left; width:100%}
.chart_registration .chart_registration_details .chart_common_container{ float:left; width:450px}
.chart_registration .chart_registration_details .chart_common_container.right{ float:right}
.small_box1{ float:left; width:448px; background:url(../images/repeat_bg.jpg) repeat-y 0 0; margin-bottom:12px}
.small_box1.green{float:left; width:448px; background:url(../images/repeat_bg2.jpg) repeat-y; margin-bottom:14px}
.small_box1.green .bottom_curve{background:url(../images/bottom_bg2.jpg) no-repeat 0 bottom;}
.small_box1.green .inner_contant_text{ float:left; width:436px; padding: 5px 0px 0 0px!important}
.small_box1.green .inner_contant_text li{padding:0 15px; width:406px!important;}
.small_box1.green .inner_contant_text li.bg{background:#fff;}

.small_box1 .heading_top_curve{ float:left; width:448px; background:url(../images/heading_bg1.jpg) no-repeat 0 0}
.small_box1 .bottom_curve{ float:left; width:448px; background:url(../images/bottom_bg1.jpg) no-repeat 0 bottom; padding-bottom:10px}
.small_box1 .inner_contant_box{ float:left; width:436px; padding: 0 6px}
.small_box1 .inner_contant_box h3{ float:left; width:421px; font-size:14px; color:#fff; line-height:19px; padding: 8px 0 8px 15px; font-weight:normal}
.small_box1 .inner_contant_text{ float:left; width:406px; padding: 5px 15px 0 15px}

.small_box1 .inner_contant_text ul{ float:left; width:100%; list-style:none}
.small_box1 .inner_contant_text ul li{ float:left; width:100%; border-bottom: solid 1px #e2e4e5; padding-bottom:7px}
.small_box1 .inner_contant_text ul li .row{ float:left; width:100%}
.small_box1 .inner_contant_text ul li .row .check { width:16px; height:16px; float:left; margin:5px 5px 0 0px; background:none; padding:0; border:0; }
.small_box1 .inner_contant_text ul li .text{ float:left; width:345px; font-size:12px; color:#333333; line-height:17px; padding: 5px 0 0 0}
.small_box1 .inner_contant_text ul li .details{ float:right; width:auto; font-size:12px; color:#1e85b6; line-height:17px; padding:5px 0 0 0}
.small_box1 .inner_contant_text ul li .details a{ color:#1e85b6; text-decoration:none}
.small_box1 .inner_contant_text ul li.none{ border-bottom:none}
.submit_brn_area { width:100%; float:left;  }
.submit_brn_area input.save { width:180px; height:38px; float:right; border:0; cursor:pointer; background:url(../images/submit_module_btn.jpg) no-repeat 0 0; }

/******* chart registration ends *************/ 


/******* self assessment *************/
.self_assessment{ width:910px; float:left; padding:25px 35px 15px;}
.self_assessment .heading_box{background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px;}
.self_assessment .heading_box h2{float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px;}
.self_assessment .heading_box .view{ float:right; width:auto}
.self_assessment .heading_box .view ul{ float:left; width:auto; list-style:none}
.self_assessment .heading_box .view ul li{ float:left; margin-left:3px; display:inline}
.self_assessment .self_assessment_details{ float:left; width:100%}
.self_assessment .self_assessment_details .self_assessment_box{ float:left; width:100%; border-bottom: solid 1px #e2e4e5; padding-bottom:23px; margin-bottom:20px}
.self_assessment .self_assessment_details .self_assessment_box h4{ float:left; width:100%; font-size:16px; color:#013671; line-height:21px; font-family:"Myriad Pro"; padding-bottom:15px; font-weight:bold}
.self_assessment .self_assessment_details .self_assessment_box h5{float:left; width:100%; font-size:13px; color:#000000; line-height:18px; font-family:"Myriad Pro"; padding-bottom:15px; font-weight:bold}
.self_assessment .self_assessment_details .self_assessment_box ul{ float:left; width:100%; list-style:none}
.self_assessment .self_assessment_details .self_assessment_box ul li{ float:left; width:100%}
.self_assessment .self_assessment_details .self_assessment_box ul li p{ float:left; width:100%; font-size:13px; color:#333333; line-height:18px}
.self_assessment .self_bottom{ float:left; width:100%}
.self_assessment .self_bottom ul{ float:right; width:auto; list-style:none}
.self_assessment .self_bottom ul li{ float:left; width:auto; margin-left:3px; display:inline}

/******* self assessment ends *************/

/******* module detailes *************/
.module_details{ width:910px; float:left; padding:25px 35px 15px;}
.module_details .heading_box{background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px;}
.module_details .heading_box h2{float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px;}
.module_details .heading_box .heading_right{ float:right; width:auto}
.module_details .heading_box .heading_right ul{ float:left; width:auto; list-style:none}
.module_details .heading_box .heading_right ul li{ float:left; width:auto}
.module_details .module_contant_details{ float:left; width:100%}
.module_details .module_contant_details .module_contant_details_box{ float:left; width:908px; background:url(../images/module_box_repeat_curve.jpg) repeat-y 0 0; margin-bottom:10px}
.module_details .module_contant_details .module_contant_top_curve{ float:left; width:908px; background:url(../images/module_heading_bg.jpg) no-repeat 0 0;  }
.module_details .module_contant_details .module_contant_bottom_curve{ float:left; width:908px; background:url(../images/module_box_bottom_curve.jpg) no-repeat 0 bottom; padding-bottom:20px}
.module_details .module_contant_details .module_inner_contant{ float:left; width:100%}
.module_details .module_contant_details .module_inner_contant .top{ float:left; width:100%; padding:7px 0 5px 0}
.module_details .module_contant_details .module_inner_contant .top h3{ float:left; width:auto; font-size:19px; color:#fff; line-height:23px; font-family:"Myriad Pro"; padding-bottom:20px; padding-left:19px; padding-top:5px; }
.module_details .module_contant_details .module_inner_contant .top .top_right{ float:right; width:400px}
.module_details .module_contant_details .module_inner_contant .top .top_right p{ float:left; width:300px; color:#f9fbfb; font-size:12px; line-height:17px; padding-top:8px; font-weight:bold; text-align:right}
.module_details .module_contant_details .module_inner_contant .contant_details{ float:left; width:872px; padding: 0 17px 0 19px}
.modules_box1{ float:left; width:267px}
.modules_box1 h4{ float:left; width:100%; font-size:14px; color:#013671; line-height:19px; font-weight:bold; padding-bottom:10px}
.modules_box1 p{ float:left; width:100%; font-size:12px; color:#202020; line-height:17px}
.modules_box1.middle{ float:left; width:258px; padding: 0 35px 0 32px}
.modules_box1 ul{ float:left; width:100%; list-style:none}
.modules_box1 ul li{ float:left; width:100%; padding-bottom:5px}
.modules_box1 ul li p{ float:left; width:100%; font-size:12px; color:#202020; line-height:17px}
.modules_box1.last{ float:left; width:240px; padding: 0 0 0 25px}
.confirm_btn{ float:right; width:78px; margin: 0 10px; display:inline; height:36px}
.confirm_btn img{ float:left; vertical-align:middle}

/******* module detaile ends *************/


/******* improvenment plan *************/
.improvenment_plan{ width:910px; float:left; padding:25px 35px 15px;}
.improvenment_plan .heading_box{background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px;}
.improvenment_plan .heading_box h2{float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px;}
.improvenment_plan .imporvenment_plan_details{ float:left; width:100%}
.improvenment_plan .imporvenment_plan_details .top_details{ float:left; width:100%; padding-top:20px; border-bottom: solid 1px #e2e4e5}
.improvenment_plan .imporvenment_plan_details .top_details p{ float:left; width:100%; font-size:13px; color:#333333; line-height:18px; padding-bottom:15px}
.improvenment_plan .imporvenment_plan_details .measures_selected_box{ float:left; width:100%}
.improvenment_plan .imporvenment_plan_details .measures_selected_box h3{float:left; width:auto; font-size:16px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding:10px 0; line-height:21px;}
.measures_box{ float:left; width:910px; background:url(../images/measerment_repeat_curve.jpg) repeat-y 0 0}
.measures_box .measures_top_curve{ float:left; width:910px; background:url(../images/measerment_top_curve.jpg) no-repeat 0 0}
.measures_box .measures_bottom_curve{ float:left; width:910px; background:url(../images/measerment_bottom_curve.jpg) no-repeat 0 bottom ; padding-bottom:20px}
.measures_box .measures_contant_box{ float:left; width:900px; padding: 0 5px}
.measures_box .measures_contant_box .measures_top{ float:left; width:900px; padding: 15px 0 15px 0px}
.measures_box .measures_contant_box .measures_top .top_left{ float:left; width:567px; font-size:11px; color:#FFF; padding-left:10px; line-height:16px}
.measures_box .measures_contant_box .measures_top .top_2{ float:left; width:111px; text-align:center; font-size:11px; color:#fff; line-height:16px}
.measures_box .measures_contant_box .measures_top .top_3{ float:left; width:111px; text-align:center; font-size:11px; color:#fff; line-height:16px}
.measures_box .measures_contant_box .measures_top .top_right{ float:left; width:100px; text-align:center; font-size:11px; color:#fff; line-height:16px}

.measures_box .measures_contant_box .measures_row{ float:left; width:100%; padding-top:10px; border-bottom: solid 1px #dbdbdb}
.measures_box .measures_contant_box .measures_row.last{ border-bottom:0px}
.measures_box .measures_contant_box .measures_row .measures_col1{ float:left; width:545px; padding-left:15px; padding: 0 20px 10px 10px}
.measures_box .measures_contant_box .measures_row .measures_col1 p{ float:left; width:100%; font-size:12px; color:#333; line-height:18px}
.measures_box .measures_contant_box .measures_row .measures_col1 p strong{ font-weight:bold}
.measures_box .measures_contant_box .measures_row .measures_col2{ float:left; width:100px; padding: 0 0 10px 10px}
.measures_box .measures_contant_box .measures_row .measures_col2 img{ float:left}
.measures_box .measures_contant_box .measures_row .measures_col3{ float:left; width:100px; padding: 0 0 10px 10px}
.measures_box .measures_contant_box .measures_row .measures_col3 img{ float:left}
.measures_box .measures_contant_box .measures_row .measures_col4{ float:right; width:90px; padding: 0 0 10px 10px}
.measures_box .measures_contant_box .measures_row .measures_col4 img{ float:left}

.improvement_plan_form_container{ float:left; width:908px; padding:0 1px}
.improvement_plan_form_container form{ float:left; width:100%}
.improvement_plan_form_container .form_box1{ float:left; width:901px; border-bottom: solid 1px #dbdbdb; padding-bottom:20px}
.improvement_plan_form_container .form_box1.none{ border-bottom:none}
.improvement_plan_form_container .form_box1 h3{float:left; width:auto; font-size:16px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding:15px 0 0 0; line-height:21px;}

.improvement_plan_form_container .form_box1 p{ float: left; width:100%; font-size:12px; color:#333333; line-height:17px}
.improvement_plan_form_container .form_box1 .input_bg{ float:left; width:900px; background:url(../images/measerment_input_bg.jpg) no-repeat 0 0; margin-top:10px;}
.improvement_plan_form_container .form_box1 .input_bg input{ float:left; width:885px; background:none; border:none; padding:12px 0 12px 5px}
.improvement_plan_form_container .form_box1 .check_box{ float:left; width:100%}
.improvement_plan_form_container .form_box1 .check_box ul{ float:left; width:100%; list-style:none; padding-top:15px}
.improvement_plan_form_container .form_box1 .check_box ul li{ float:left; width:893px; background:url(../images/lrorn_lspum_bg.jpg) no-repeat 0 0; height:auto; padding: 5px 0 0 5px; margin-bottom:5px}
.improvement_plan_form_container .form_box1 .check_box ul li .check { width:16px; height:16px; float:left; margin:2px 5px 0 0px; background:none; padding:0; border:0; }
.improvement_plan_form_container .form_box1 .check_box ul li .select_details{ float:left; width:850px; height:auto;}
.improvement_plan_form_container .form_box1 .check_box ul li .select_details h4{ float:left; width:100%; font-size:13px; color:#000; line-height:0px; font-weight:bold}
.improvement_plan_form_container .form_box1 .check_box ul li .select_details p{ float:left; width:100%; font-size:11px; color:#333333; line-height:16px}
.improvement_plan_form_container .form_box1 select{ float:left; width:164px; margin: 12px 0 0 10px; display:inline; font-size:11px; color:#000; line-height:16px; height:auto;}

.improvement_plan_form_container .form_box2{ float:left; width:100%}
.improvement_plan_form_container .form_box2 h3{float:left; width:auto; font-size:16px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding:10px 0 0 0; line-height:21px;}
.improvement_plan_form_container .form_box2 ul{ float:left; width:100%; list-style:none; padding:5px 0}
.improvement_plan_form_container .form_box2 ul li{ float:left; width:99%; font-size:12px; color:#000; line-height:17px; background:url(../images/dot.jpg) no-repeat 0 7px; padding-left:10px; font-weight:bold}
.improvement_plan_form_container .form_box3{ float:left; width:100%}
.improvement_plan_form_container .form_box3 h3{float:left; width:auto; font-size:16px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding:15px 0 0 0; line-height:21px; padding-left:4px}
.improvement_plan_form_container .form_box3 .plan_list{ float:left; width:100%}
.plan_list .plan_list_row{ float:left; width:522px; list-style:none; padding:12px 0}
.plan_list .plan_list_row .plan_list_col{float:left; width:260px}
.plan_list .plan_list_row .plan_list_col .common_col{ float:left; width:100%}
.plan_list .plan_list_row .plan_list_col .common_col .check{ float:left; margin-right:4px; display:inline }
.plan_list .plan_list_row .plan_list_col .common_col p{ float:left; width:228px; font-size:12px; color:#000; line-height:17px; padding-top:2px; font-weight: bold}
.plan_list .plan_list_row .plan_list_col .common_col .other{ float:left; width:230px}
.plan_list .plan_list_row .plan_list_col .common_col .other label{font-size:12px; color:#000; line-height:17px; float:left; width:auto;font-weight: bold; margin-right:3px; display:inline }
.plan_list .plan_list_row .plan_list_col .common_col .other .input_bg{ float:left; width:158px; background:url(../images/input_bg2.jpg) no-repeat 0 0}
.plan_list .plan_list_row .plan_list_col .common_col .other .input_bg input{ float:left; width:153px; background:none; border:none; padding:2px 0 2px 5px}

.activites_details{ float:left; width:100%}
.activites_details h3{float:left; width:auto; font-size:16px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding:15px 0 0 0; line-height:21px; padding-left:4px}
.activites_box{ float:left; width:100%; background:url(../images/activites_box_repeat_curve.jpg) repeat-y 0 0}
.activites_box_top_curve{ float:left; width:100%; background:url(../images/activites_box_top_curve.jpg) no-repeat 0 0}
.activites_box_bottom_curve{ float:left; width:100%; background:url(../images/activites_box_bottom_curve.jpg) no-repeat 0 bottom; padding-bottom:15px}
.activites_top_details{ float:left; width:893px; padding: 15px 5px 10px 10px }
.activites_top_details .activites_row{ float:left; width:893px; }
.activites_top_details .activites_row .activites_col1{ float:left; width:453px; font-size:11px; color:#fff; line-height:16px; padding-left:10px }
.activites_top_details .activites_row .activites_col2{float:left; width:86px; font-size:11px; color:#fff; line-height:16px; text-align:center }
.activites_inner_contant{ float:left; width:898px; padding: 3px 7px 0 5px}
.activites_inner_contant .contant_row{ float:left; width:100%; padding:5px 0; border-bottom: solid 1px #dbdbdb}
.activites_inner_contant .contant_row.none{ border-bottom:none}
.activites_inner_contant .contant_row .contant_col1{ float:left; width:454px; font-size:12px; color:#000; line-height:17px; padding-left:12px; font-weight:bold}
.activites_inner_contant .contant_row .contant_col2{ float:left; width:86px; text-align:center}
.activites_inner_contant .contant_row .contant_col2 .radio{ float:none; display:inline}
.statmetnt_brn_area{ float:left; width:100%; margin-right:5px; }
.statmetnt_brn_area input.statmetnt_btn{ width:67px; height:38px; float:right; border:0; cursor:pointer; background:url(../images/submit_btn.jpg) no-repeat 0 0}

.improvement_plan_form_container .bottom{ float:left; width:100%; margin-top:10px}
.improvement_plan_form_container .bottom ul{ float:right; width:auto; list-style:none}
.improvement_plan_form_container .bottom ul li{ float:left; width:auto}
/******* improvenment plan ends *************/

/******* registration form *************/
.registration_form{width:910px; float:left; padding:25px 35px 15px;}
.registration_form .heading_box{background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px;}
.registration_form .heading_box h2{float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px;}
.registration_form .registraion_form_details{ float:left; width:100%}
.registration_form .registraion_form_details form{ float:left; width:100%}
.registration_form .registraion_form_details p{ float:left; width:100%; font-size:13px; color:#333; line-height:18px; padding-bottom:10px}
.registration_form .registraion_form_details .record{ float:left; width:890px; background:url(../images/lrorn_lspum_bg.jpg) no-repeat 0 0; height:34px; padding: 5px 0 5px 8px; margin-bottom:5px}
.registration_form .registraion_form_details .record p{ float:left; width:100%; font-size:13px; color:#333; line-height:18px}
.registration_form .registraion_form_details .record p strong{ font-weight:bold}
.registration_common_box{ float:left; width:100%}
.registration_common_box h3{ float:left; width:auto; font-size:20px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding: 30px 0 15px 5px; line-height:25px;}
.registraton_top_box{ float: left; width:910px; background:url(../images/registration_repeat_curve.jpg) repeat-y 0 0}
.registration_top_curve{ float:left; width:100%; background:url(../images/registration_top_curve.jpg) no-repeat 0 0}
.registration_bottom_curve{ float:left; width:100%; background:url(../images/registration_bottom_curve.jpg) no-repeat 0 bottom; padding-bottom:15px}
.registration_top_heading{ float:left; width:900px; padding:0 5px}
.registration_top_heading .registraion_row{ float:left; width:900px; padding:5px 0px 5px 0}
.registration_top_heading .registraion_row .col3{ float:left; width:228px; text-align:center; font-size:11px; color:#fff; line-height:16px}
.registration_top_heading .registraion_row .col3.box10{float:left; padding-top:7px}
.registration_top_heading .registraion_row .col3.box11{ float:left; width:65px; padding-top:7px}
.registration_top_heading .registraion_row .col3.box22{ float:left; width:99px}
.registration_top_heading .registraion_row .col3.box33{ float:left; width:94px}
.registration_top_heading .registraion_row .col3.box44{ float:left; width:119px}
.registration_top_heading .registraion_row .col3.box55{ float:left; width:67px;}
.registration_top_heading .registraion_row .col3.box66{ float:left; width:66px}
.rigistration_contant_box_details{ float:left; width:900px;}
.rigistration_contant_box_details .registration_row1{ float:left; width:900px;background:url(../images/repeat_bg_white_registration.jpg) repeat-y 0 0; font-size:11px; color:#000; padding:7px 0 3px 0; border-bottom: solid 1px #dbdbdb}
.rigistration_contant_box_details .registration_row1.none{ background:none; border-bottom:none}
.rigistration_contant_box_details .registration_row1 .col4{ float:left; width:220px; line-height:16px;  padding:0px 0 0px 12px; }
.rigistration_contant_box_details .registration_row1 .col4 select{ float:left; width:215px}
.rigistration_contant_box_details .registration_row1 .col5{ float:left; width:62px; text-align:center}
.rigistration_contant_box_details .registration_row1 .col5 .input_bg{ float:left; background:url(../images/input_bg_form.jpg) no-repeat 0 0; width:48px; height:28px; margin-left:5px; display:inline}
.rigistration_contant_box_details .registration_row1 .col5 .input_bg input{ float:left; width:48px; text-align:center; background:none; border:none}
.rigistration_contant_box_details .registration_row1 .col6{float:left; width:99px; text-align:center; padding-top:3px}
.rigistration_contant_box_details .registration_row1 .col7{float:left; width:95px; text-align:center}
.rigistration_contant_box_details .registration_row1 .col7 select{ float:left; width:55px; font-size:12px; color:#333333; line-height:17px; text-transform:capitalize; margin-left:20px; display:inline}
.rigistration_contant_box_details .registration_row1 .col8{float:left; width:93px; text-align:center}
.rigistration_contant_box_details .registration_row1 .col8 select{ float:left; width:55px; font-size:12px; color:#333333; line-height:17px; text-transform:capitalize; margin-left:20px; display:inline}
.rigistration_contant_box_details .registration_row1 .col9{float:left; width:118px; text-align:center}
.rigistration_contant_box_details .registration_row1 .col9 select{ float:left; width:55px; font-size:12px; color:#333333; line-height:17px; text-transform:capitalize; margin-left:25px; display:inline}
.rigistration_contant_box_details .registration_row1 .co20{float:left; width:69px; text-align:center}
.rigistration_contant_box_details .registration_row1 .co21 .input_bg{ float:left; background:url(../images/input_bg_form.jpg) no-repeat 0 0; width:48px; height:28px; margin-left:5px; }
.rigistration_contant_box_details .registration_row1 .co21 .input_bg input{ float:left; width:42px; text-align:center; background:none; border:none; padding: 2px 0 0 3px}
.rigistration_contant_box_details .registration_row1 .co21{float:left; width:65px; text-align:center}
.registration_form .registration_bottom{ float:left; width:100%; padding:15px 0}
.registration_form .registration_bottom ul{ float:right; width:auto; list-style:none}
.registration_form .registration_bottom ul li{ float:left; width:auto}
.registration_form .registration_bottom ul li img{ float:left}
/******* registration form ends *************/


/******* initial performance *************/
.initial_performance{width:910px; float:left; padding:25px 35px 15px;}
.initial_performance .heading_box{background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px;}
.initial_performance .heading_box h2{float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px;}
.initial_performance .initial_performance_details{ float:left; width:100%}
.initial_performance .initial_performance_box{ float:left; width:100%; background:url(../images/perfomane_summery_repeat_curve.jpg) repeat-y 0 0; margin-bottom:15px}
.initial_performance .initial_performance_box .initial_top_curve{ float:left; width:908px; background:url(../images/pefomane_top_curve.jpg) no-repeat 0 0}
.initial_performance .initial_performance_box .initial_bottom_curve{ float:left; width:908px; background:url(../images/perfomane_summery_btn_curve.jpg) no-repeat 0 bottom; padding-bottom:20px}
.initial_performance .initial_performance_heading{ float:left; width:888px; font-size:20px; color:#fff; font-family:"Myriad Pro"; font-weight:normal; padding:10px 0 10px 20px; line-height:25px;}
.initial_performance .initial_inner_contant{ float:left; width:898px; padding: 0 2px 0 5px}
.initial_performance .initial_inner_contant .initial_row{ float:left; width:100%; background:url(../images/perfomance_summery_heading_bg.jpg) no-repeat 0 0; padding:10px 0}
.initial_performance .initial_inner_contant .initial_row .col23{ float:left; width:183px; padding-left:15px; font-size:13px; color:#fff; line-height:18px; font-weight:bold}
.initial_performance .initial_inner_contant .initial_row .col24{ float:left; width:255px; padding-left:15px; font-size:13px; color:#fff; line-height:18px; font-weight:bold}
.initial_performance .initial_inner_contant .initial_row .col25{ float:left; width:93px; font-size:13px; color:#fff; line-height:18px; font-weight:bold; text-align:center}
.initial_performance .initial_inner_contant .initial_row .col26{ float:left; width:335px; font-size:13px; color:#fff; line-height:18px; font-weight:bold; text-align:center}
.initial_performance .initial_inner_contant .initial_inner_row{ float:left; width:100%; border-bottom: solid 1px #dbdbdb  }
.initial_performance .initial_inner_contant .initial_inner_row .col27{ float:left; width:183px; font-size:12px; color:#333; line-height:18px; font-weight:bold; padding:29px 0 29px 15px}
.initial_performance .initial_inner_contant .initial_inner_row .col27.top1{ padding-top:20px}
.initial_performance .initial_inner_contant .initial_inner_row .col28{ float:left; width:255px; font-size:12px; color:#333; line-height:18px; font-weight:bold; padding:20px 0 20px 15px}
.initial_performance .initial_inner_contant .initial_inner_row .col28.top1{ padding-top:20px}
.initial_performance .initial_inner_contant .initial_inner_row .col29{ float:left; width:93px; font-size:12px; color:#4595b4; line-height:18px; font-weight:bold; padding:20px 0 20px 0; text-align:center }
.initial_performance .initial_inner_contant .initial_inner_row .col29.top1{ padding-top:20px}
.initial_performance .initial_inner_contant .initial_inner_row .col30{float:left; width:319px; font-size:13px; color:#fff; line-height:18px; font-weight:bold; padding-left:15px; padding-bottom:10px}
.initial_performance .initial_inner_contant .initial_inner_row .col30 img{ float:left; margin:10px 0 0 0; }
.initial_performance .initial_inner_contant .initial_inner_row .col30.right{ padding-left:0px; float:left; width:328px }
.initial_performance .initial_inner_contant .initial_inner_row.none{ border-bottom:none}
.initial_performance .initial_inner_contant .initial_inner_row.red_box{ float:left; width:892px; background:url(../images/perfomance_repeat_box.png) repeat 0 0; border: solid 2px #FF0000; margin:4px 0 4px 1px; display:inline }
.initial_performance .initial_performance_details .initial_performance_bottom{ float:left; width:100%}
.initial_performance .initial_performance_details .initial_performance_bottom ul{ float:right ; width:auto; list-style:none}
.initial_performance .initial_performance_details .initial_performance_bottom ul li{ float:left}
/******* initial performance end *************/


/******* survey questions *************/
.survey_questions{width:910px; float:left; padding:25px 35px 15px; min-height:620px;}
.survey_questions .heading_box{background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px;}
.survey_questions .heading_box h2{float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px;}
.survey_questions .servey_questions_details{ float:left; width:100%}
.survey_questions .servey_questions_box{ float:left; width:100%; background:url(../images/servey_question_repeat_curve.jpg) repeat-y 0 0}
.survey_questions .servey_questions_box .servery_top_curve{ float:left; width:100%; background:url(../images/servey_question_top_curve.jpg) no-repeat 0 0}
.survey_questions .servey_questions_box .servery_bottom_curve{ float:left; width:100%; background:url(../images/servey_question_bottom_curve.jpg) no-repeat 0 bottom; padding-bottom:20px}
.survry_top_row{ float:left; width:896px; padding:14px 7px 10px 7px}
.survry_top_row .col31{ float:left; width:235px; padding: 0 0 0 15px; font-size:13px; color:#fff; line-height:18px; font-weight:bold}
.survry_top_row .col32{ float:left; width:232px; padding: 0 0 0 15px; font-size:13px; color:#fff; line-height:18px; font-weight:bold}
.survry_top_row .col33{ float:left; width:377px; padding: 0 0 0 15px; font-size:13px; color:#fff; line-height:18px; font-weight:bold}
.survery_questions_inner_contant{ float:left; width:898px; padding: 0px 0px 0 5px;}
.survery_questions_inner_contant form{ float:left; width:100%}
.survery_questions_inner_contant .survery_questions_row{ float:left; width:898px; padding: 6px 0px; border-bottom: solid 1px #dbdbdb}
.survery_questions_inner_contant .survery_questions_row.none{ border-bottom:none}
.survery_questions_inner_contant .survery_questions_row.blue{ background:url(../images/servey_question_blue_repeat_curve.jpg) repeat-y 0 0}
.survery_questions_inner_contant .survery_questions_row .col34{ float:left; width:234px; padding-left:15px; padding-top:5px }
.survery_questions_inner_contant .survery_questions_row .col34 .check{ float:left;width:16px; height:16px; float:left; margin:0px 5px 0 0px; background:none; padding:0; border:0;}
.survery_questions_inner_contant .survery_questions_row .col34 p{ float:left; width:auto;font-size:12px; color:#333; line-height:17px; font-weight:bold;}
.survery_questions_inner_contant .survery_questions_row .col35{float:left; width:377px; padding-left:15px; font-size:12px; color:#333; line-height:17px; font-weight:bold;}
.survey_questions .survery_questions_bottom{ float:left; width:100%; padding:10px 0}
.survey_questions .survery_questions_bottom ul{ float:right; width:auto; list-style:none}
.survey_questions .survery_questions_bottom ul li{ float:left}
/******* survey questions end *************/

/******* amblyopia_pim *************/
.ablyopia_pm{width:910px; float:left; padding:25px 35px 15px;}
.ablyopia_pm .heading_box{background:url(../images/border.gif) repeat-x 0 bottom; width:100%; float:left; margin-bottom:12px;}
.ablyopia_pm .heading_box h2{float:left; width:auto; font-size:28px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:30px;}
.ablyopia_pm .heading_box h3{ float:right; width:auto; font-size:18px; color:#013671; font-family:"Myriad Pro"; font-weight:bold; padding-bottom:20px; line-height:23px;}
.ablyopia_pm .ablyopia_details{ float:left; width:910px}
.ablyopia_pm .ablyopia_details .ablyopia_details_common_box{ float:left; width:100%; background:url(../images/abo_repeat_curve.jpg) repeat-y 0 0; margin-bottom:10px}
.ablyopia_pm .ablyopia_details .ablyopia_details_common_box.complication{ float:left; width:100%; background:url(../images/repeat_bg3.jpg) repeat-y 0 0}
.ablyopia_pm .ablyopia_details .ablyopia_details_common_box.assessment{ float:left; width:100%; background:url(../images/tepeat_curve1.jpg) repeat-y 0 0}
.ablyopia_pm .ablyopia_details .ablyopia_top_curve{ float:left; width:100%; background:url(../images/abo_top_curve.jpg) no-repeat 0 0 }
.ablyopia_pm .ablyopia_details .ablyopia_bottom_curve{ float:left; width:100%; background:url(../images/abo_bottom_curve.jpg) no-repeat 0 bottom; padding-bottom:10px}
.ablyopia_pm .ablyopia_details .ablyopia_bottom_curve.complication_bottom{ float:left; width:100%; background:url(../images/bottom_curve2.jpg) no-repeat 0 bottom}
.ablyopia_pm .ablyopia_details .ablyopia_bottom_curve.assessment_bottom{ float:left; width:100%; background:url(../images/bottom_curve1.jpg) no-repeat 0 bottom}
.ablyopia_pm .ablyopia_details .ablyopia_bottom_curve.assessment_bottom1{ float:left; width:100%; background:url(../images/blue_bottom_curve.jpg) no-repeat 0 bottom}
.ablyopia_pm .ablyopia_details .ablyopia_top{ float:left; width:auto; font-size:20px; color:#fff; font-family:"Myriad Pro"; font-weight:normal; line-height:25px; padding:9px 0 7px 20px}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant{ float:left; width:898px; padding: 5px 6px 0 5px}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant{ float:left; width:100%}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant fieldset{ float:left; width:100%}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .ablyopia_row{ float:left; width:898px; padding:6px 0}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .ablyopia_row.blue1{ float:left; background:url(../images/blue_repeat_bg.jpg) repeat-y 0 0 }
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .ablyopia_row .col36{ float:left; width:630px; padding-left:15px; font-size:13px; color:#333; line-height:18px; padding-left:15px; font-weight:bold}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .ablyopia_row .col37{ float:left; width:240px}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .ablyopia_row .col37 select{ float:left; width:133px; font-size:13px; color:#333; line-height:18px; margin-right:10px; display:inline}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .ablyopia_row .col37 select.year{ float:left; width:85px}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row{ float:left; width:898px; border-bottom:solid 1px #dbdbdb; padding:5px 0; }
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row.blue2{ float:left; width:100%; background:url(../images/blue_repeat_bg1.jpg) repeat-y 0 0; border-top:solid 1px #dbdbdb;}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col36{ float:left; width:653px; padding-left:13px}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col36 p{ float:left; width:100%; font-size:13px; color:#333333; line-height:18px;}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col36 p strong{ font-weight:bold}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37{ float:right; width:226px;}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .left_col{ float:left; width:118px; height:45px }
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .top_tow_37{ float:left; width:100%; border-bottom: solid 1px #dbdbdb; padding:3px 0}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .top_tow_37.none{ border-bottom:none}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .top_tow_37 .left_top_37{ float:left; width:103px; padding-right:10px; font-size:13px; color:#333; line-height:15px; text-align:right}

.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .top_tow_37 .right_top_37{ float:left; width:110px}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .top_tow_37 .right_top_37_row{ float:left; width:110px}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .top_tow_37 .right_top_37_row label{ float:left; width:25px; color:#333; font-size:13px; line-height:18px; text-align:right; margin-right:5px}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .top_tow_37 .right_top_37_row select{ float:left; width:70px; font-size:13px; color:#333; line-height:18px; margin-right:10px; display:inline}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .right_col{ float:left; width:100px;}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .right_col .right_row{ float:right; width:100%; padding-bottom:3px}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .right_col .right_row label{ float:left; width:20px; font-size:13px; color:#333; line-height:18px; padding-left:10px; padding-top:2px}
.ablyopia_pm .ablyopia_details .ablyopia_inear_contant .assessment_top_row .col37 .right_col .right_row select{ float:left; width:70px}
.assessment_1st_row{ float:left; width:100%}
.assessment_1st_row .left_2nd_col{ float:left; width:670px}
.assessment_1st_row .left_2nd_col p{ float:left; width:auto; font-size:12px; color:#333; line-height:17px; padding: 45px 0 0 15px; font-weight:bold}
.assessment_1st_row .right_2nd_col{ float:left; width:228px}
.assessment_1st_row .right_2nd_col .top_col{ float:left; width:100%; border-bottom: solid 1px #dbdbdb}
.assessment_1st_row .right_2nd_col .top_col.none{ border-bottom:none}
.assessment_1st_row .right_2nd_col .top_col .top_left_col{ float:left; width:118px; text-align:center; text-align:center; font-size:12px; color:#333; line-height:17px; padding:10px 0}
.top_right_col{ float:right; width:104px; border-bottom: solid 1px #dbdbdb; padding-left:5px; padding-bottom:5px; padding-top:5px}
.top_right_col.second_top{ padding-top:17px; border-bottom:none}
.top_right_col.none{ border-bottom:none}
.top_right_row{ float:left; width:50px}
.top_right_col .top_right_row.top_row{ padding-top:20px}
.top_right_col .top_right_row .radio{ float:left}
.top_right_col .top_right_row label{ float:left; width:auto; font-size:12px; color:#333; line-height:17px; font-weight:bold; margin-left:2px; display:inline}
.assessment_1st_row .right_2nd_col .top_col .bottom_right_col{float:left; width:104px; padding:5px 0 5px 5px}
.assessment_1st_row .right_2nd_col .top_col .bottom_right_col select{ float:left; width:95px}
.assessment_2nd_row{ float:left; width:100%; }
.second_top_row{ float:left; width:100%; background:url(../images/blue_bg.jpg) repeat-y 0 0; padding:3px 0; border-top:solid 1px #dbdbdb; border-bottom:solid 1px #dbdbdb}
.white1{ background:#fff; border:none}
.blue2{ float:left; width:100%; background:url(../images/blue_repeat_bg1.jpg) repeat-y 0 0; }
.white{float:left; width:100%; background:url(../images/white_bg.jpg) repeat-y 0 0; padding:5px 0; border-top:solid 1px #dbdbdb; border-bottom:solid 1px #dbdbdb}
.assessment_2nd_row .second_top_row .second_row_left_col{ float:left; width:auto; font-size:13px; color:#333; line-height:18px; padding: 5px 0 0 15px; font-weight:bold}
.assessment_2nd_row .second_top_row .second_row_right_col{ float:right; width:110px}
.assessment_2nd_row .second_second_row{ float:left; width:100%}
.assessment_2nd_row .second_second_row.white_bg{ background:url(../images/2nd_row_white_bg.jpg) repeat-y 0 0}
.assessment_2nd_row .second_second_row .second_left_col{ float:left; width:670px; }
.assessment_2nd_row .second_second_row .second_left_col p{ float:left; width:auto;font-size:13px; color:#333333; line-height:18px; padding: 110px 0 0 16px; font-weight:bold}
.assessment_2nd_row .second_second_row .second_left_col p.measured{ padding-top:50px}
.assessment_2nd_row .second_second_row .second_left_col p.measured1{ padding-top:80px}
.assessment_2nd_row .second_second_row .second_right_row{ float:left; width:228px}
.assessment_2nd_row .second_second_row .second_right_row{ float:left; width:228px}
.assessment_2nd_row .second_second_row .second_right_col{ float:left; width:228px; border-bottom: solid 1px #dbdbdb; padding:5px 0}
.assessment_2nd_row .second_second_row .second_right_col .measured_left{ float:left; width:68px; text-align:center; font-size:13px; color:#333; padding:20px 0}
.assessment_2nd_row .second_second_row .second_right_col .measured_right{ float:left; width:155px; padding:5px 0 0px 5px}
.assessment_2nd_row .second_second_row .second_right_col .measured_right .measured_row{ float:left; width:100%; padding-bottom:2px}
.assessment_2nd_row .second_second_row .second_right_col .measured_right .measured_row .measurd_col1{ float:left; width:50px}
.assessment_2nd_row .second_second_row .second_right_col .measured_right .measured_row .measurd_col1 .input_bg{ float:left; width:16px; background:url(../images/input_bg1.jpg) no-repeat 0 0; margin:0 2px 0 0; display:inline}
.assessment_2nd_row .second_second_row .second_right_col .measured_right .measured_row .measurd_col1 .input_bg input{ float:left; width:15px; background:none; border:none; padding:1px 0 1px 1px; }
.assessment_2nd_row .second_second_row .second_right_col .measured_right .measured_row .measurd_col1 .radio{ float:left; margin-right:3px}
.assessment_2nd_row .second_second_row .second_right_col .measured_right .measured_row .measurd_col1 label{ float:left; width:25px; font-size:9px; color:#333; line-height:13px; padding-top:3px}
.assessment_2nd_row .second_second_row .second_right_col.none{ border-bottom:none}
.assessment_2nd_row .second_second_row .second_right_col .second_right_left{ float:left; width:117px; text-align:center; font-size:13px; color:#333; line-height:18px; padding:15px 0px 0px 0px}
.assessment_2nd_row .second_second_row .second_right_col .second_right_left.performed{float:left; width:112px; padding:15px 5px 15px 0; text-align:right}
.assessment_2nd_row .second_second_row .second_right_col .second_right_right{ float:left; width:110px}
.assessment_2nd_row .second_second_row .second_right_col .second_right_right select{ float:left; width:99px; margin-left:6px; display:inline}
.assessment_2nd_row .second_second_row .second_right_col .second_right_right .right_row{ float:left; width:100%}
.assessment_2nd_row .second_second_row .second_right_col .second_right_right .right_row .check { width:16px; height:16px; float:left; margin:5px 3px 0 5px; background:none; padding:0; border:0;}
.assessment_2nd_row .second_second_row .second_right_col .second_right_right .right_row label{ float:left; width:85px; font-size:9px; color:#333; line-height:15px; padding-top:3px}
.assessment_2nd_row .second_second_row .second_right_col .second_right_right .second_right_row{ float:left; width:100px; padding: 3px 0 0 10px}
.assessment_2nd_row .second_second_row .second_right_col .second_right_right .second_right_row .input_bg{ float:left; width:16px; background:url(../images/input_bg1.jpg) no-repeat 0 0; margin:0 5px 0 0; display:inline}
.assessment_2nd_row .second_second_row .second_right_col .second_right_right .second_right_row .input_bg input{ float:left; width:15px; background:none; border:none; padding:1px 0 1px 1px; }
.assessment_2nd_row .second_second_row .second_right_col .second_right_right .second_right_row label{ float:left; width:66px; font-size:10px; color:#333; line-height:15px;}
#outcomes{ float:left; width:100%; background:#FFFFFF}
#outcomes p{ float:left; width:auto; font-size:12px; color:#333; line-height:17px; padding:10px 0 10px 15px}
.complications_details{ float:left; width:100%}
.complications_details .left_complication{ float:left; width:446px}
.complications_details .left_complication p{ float:left; width:auto;font-size:12px; color:#333333; line-height:18px; padding: 80px 0 0 60px; font-weight:bold}
.complications_details .right_complication{ float:left; width:452px; border-bottom: solid 1px #dbdbdb; padding:5px 0}
.complications_details .right_complication.none{ border-bottom:none}
.complications_details .right_complication_details{ float:left; width:452px}
.complications_details .right_complication .complicaion_left{ float:left; width:327px; font-size:13px; color:#333; line-height:18px; padding-left:13px; font-weight:bold}
.complications_details .right_complication .complicaion_right{ float:left; width:105px; padding-left:5px}
.complications_details .right_complication .complicaion_right.middle1{ padding-top:10px}
.complications_details .right_complication .complicaion_right .complication_row{ float:left; width:44px}
.complications_details .right_complication .complicaion_right .complication_row .radio{ float:left}
.complications_details .right_complication .complicaion_right .complication_row label{ float:left; font-size:13px; color:#333; line-height:18px}
.sumbit_chart_btn{ float:left; width:100%; text-align:right}
.sumbit_chart_btn img{ float:right}

/******* amblyopia_pim end *************/

.main_content .heading_box .top_nav{width:auto; float:right; padding-top:22px}
.main_content .heading_box .top_nav ul{width:auto; float:left; list-style:none;}
.main_content .heading_box .top_nav ul li{width:auto; float:left; color:#013671; font-size:14px; line-height:16px; margin-right:5px; display:inline}
.main_content .heading_box .top_nav ul li a{width:auto; float:left; text-decoration:none; color:#013671;  height:32px; padding-left:6px; cursor:pointer; background:url(../images/nav_left_curve.jpg) no-repeat 0 -32px;}
.main_content .heading_box .top_nav ul li a span{width:auto; float:left; color:#fff; height:22px; font-size:14px; line-height:20px; padding:5px 10px 5px 0; background:url(../images/nav_right_curve.jpg) no-repeat right -32px;}
.main_content .heading_box .top_nav ul li a:hover{background-position:0 0;}
.main_content .heading_box .top_nav ul li a:hover span{color:#013671; background:url(../images/nav_right_curve.jpg) no-repeat right 0;}
.main_content .heading_box .top_nav ul li.active a{color:#fff; background-position:0 0;}
.main_content .heading_box .top_nav ul li.active a span{color:#013671; background:url(../images/nav_right_curve.jpg) no-repeat right 0;}

.main_content form{width:100%; float:left; }
.main_content fieldset{width:100%; float:left; }
.main_content .dashboard_section{width:100%; float:left; padding:20px 0;}
.main_content .dashboard_section .dashboard_left_section{width:675px; float:left;}
.main_content .dashboard_section .dashboard_left_section{width:100%; float:left;}
.main_content .dashboard_section .dashboard_left_section input.submit_btn{width:auto; float:right; background:none; border:none;}
.main_content .dashboard_section .dashboard_left_section .row{width:100%; float:left; margin-bottom:10px; display:inline;}
.main_content .dashboard_section .dashboard_left_section .row ul{width:100%; float:left; padding:5px 0; list-style:none;}
.main_content .dashboard_section .dashboard_left_section .row ul li{width:667px; float:left; height:30px; padding:0 4px; background:url(../images/row_repeat.jpg) repeat-y 0 0; font-size:12px; line-height:16px; color:#333; border-bottom:1px solid #ededed;}
.main_content .dashboard_section .dashboard_left_section .row ul li.blue{padding:0 4px; background:url(../images/row_blue_repeat.jpg) repeat-y 0 0; font-size:12px; line-height:16px; color:#333; border-bottom:1px solid #ededed;}
.main_content .dashboard_section .dashboard_left_section .row ul li.blue .col{border-right:1px solid #e0e6e9;}
.main_content .dashboard_section .dashboard_left_section .row ul li .col{float:left; width:auto; height:20px; padding:6px 10px 4px 9px; text-align:center; border-right:1px solid #ededed;}
.main_content .dashboard_section .dashboard_left_section .row ul li .col.col1{width:27px; float:left;}
.main_content .dashboard_section .dashboard_left_section .row ul li .col.col2{width:219px; float:left; text-align:left; }
.main_content .dashboard_section .dashboard_left_section .row ul li .col.col2.left_text{ text-align: center}
.main_content .dashboard_section .dashboard_left_section .row ul li .col.col2.grey{ color:#11659c}
.main_content .dashboard_section .dashboard_left_section .row ul li .col.col3{width:29px; float:left;}
.main_content .dashboard_section .dashboard_left_section .row ul li .col.col4{width:59px; float:left;}
.main_content .dashboard_section .dashboard_left_section .row ul li .col.col5{width:106px; float:left;}
.main_content .dashboard_section .dashboard_left_section .row ul li .col.col6{width:106px; float:left; border:none; background:none;}
.main_content .dashboard_section .dashboard_left_section .row ul li .col.col7{width:588px; float:left; border:none; background:none; color:#333; text-align:left; font-size:12px; line-height:14px;}
.main_content .dashboard_section .dashboard_left_section .row ul li .col.col8{width:40px; float:left; }
.main_content .dashboard_section .dashboard_left_section .row ul li .col.col1 a{width:27px; float:left; padding:0 0 0 0;}
.main_content .dashboard_section .dashboard_left_section .row ul li.first{width:100%; float:left; background:url(../images/row_head_bg.jpg) no-repeat 0 0; border:none;  height:38px; font-size:11px; line-height:15px; color:#fff;}
.main_content .dashboard_section .dashboard_left_section .row ul li.first .col{background:url(../images/row_head_sept.jpg) no-repeat right 0; height:30px;_height:26px; padding:0 10px; border:none; margin-top:6px;}
.main_content .dashboard_section .dashboard_left_section .row ul li.first .col.col1{width:27px; float:left; padding:0 10px; height:36px;}
.main_content .dashboard_section .dashboard_left_section .row ul li.first .col.col2{width:219px; float:left; padding:5px 10px;}
.main_content .dashboard_section .dashboard_left_section .row ul li.first .col.col7{width:588px; float:left; border:none; background:none; padding-top:5px; font-size:14px; line-height:18px; text-align:center; color:#fff; font-weight:bold;}
.main_content .dashboard_section .dashboard_left_section .row ul li.first .col.col8{width:40px; float:left; padding-top:5px; font-size:14px; line-height:18px; color:#fff; font-weight:bold;}
.main_content .dashboard_section .dashboard_left_section .row ul li.bottom{background:url(../images/row_bottom_bg.jpg) no-repeat 0 0; border:none; height:35px;}
.main_content .dashboard_section .dashboard_left_section .row ul li.blue_bottom{background:url(../images/row_bottom_blue_bg.jpg) no-repeat 0 0; border:none; height:34px;}
.main_content .dashboard_section .dashboard_left_section .row ul li.blue_bottom.col{border-right:1px solid #e0e6e9;}
.main_content .dashboard_section .dashboard_left_section h3{width:100%; float:left; font-size:16px; line-height:18px; color:#013671; font-weight:bold; padding:0 0 2px 10px;}
.main_content .dashboard_section .dashboard_left_section .resources_section{width:675px; float:left; padding:0 0 10px 0;}
.main_content .dashboard_section .dashboard_left_section .resources_section h3{width:655px; float:left; padding:0 10px 10px 10px;}
.main_content .dashboard_section .dashboard_left_section .resources_section p{width:655px; float:left; padding:0 10px 10px; font-size:12px; line-height:14px; color:#333;}
.main_content .dashboard_section .dashboard_left_section .resources_section strong{width:655px; float:left; padding:0 10px 10px; font-size:12px; line-height:14px; color:#333; font-weight:bold;}
.main_content .dashboard_section .dashboard_left_section .category_section{width:100%; float:left; min-height:250px}
.main_content .dashboard_section .dashboard_left_section .category_section .category_details{width:100%; float:left; background:url(../images/row_bottom_bg.jpg) no-repeat 0 bottom; border:none; padding-bottom:8px;}
.main_content .dashboard_section .dashboard_left_section .category_section .category_details .row{width:100%; float:left;}
.main_content .dashboard_section .dashboard_left_section .category_section .category_details .row .col{float:left; width:295px;  border-right:1px solid #ededed; padding:0 20px 10px;}
.main_content .dashboard_section .dashboard_left_section .category_section .category_details .row .col.col2{float:left; width:295px; background:none; border:none;}
.main_content .dashboard_section .dashboard_left_section .category_section .category_details .row.first{width:100%; float:left; background:url(../images/row_head_bg.jpg) no-repeat 0 0; border:none; height:38px; font-size:14px; line-height:18px; text-align:center; color:#fff; font-weight:bold;}
.main_content .dashboard_section .dashboard_left_section .category_section .category_details .row.first .col{padding-top:7px; border:none; height:23px; background:url(../images/row_head_sept.jpg) no-repeat right 0;margin-top:6px;}
.main_content .dashboard_section .dashboard_left_section .category_section .category_details .row.details{width:100%; float:left; background:url(../images/row_repeat.jpg) repeat-y 0 0;}
.main_content .dashboard_section .dashboard_left_section .category_section .category_details .row.details .col ul{width:100%; float:left; list-style:none; padding-top:15px;}
.main_content .dashboard_section .dashboard_left_section .category_section .category_details .row.details .col ul li{width:100%; float:left; font-size:12px; line-height:16px; color:#0b96ba; padding-bottom:2px;}
.main_content .dashboard_section .dashboard_left_section .category_section .category_details .row.details .col ul li a{width:100%; float:left; color:#0b96ba; text-decoration:none;}
.main_content .dashboard_section .dashboard_left_section .category_section .category_details .row.details .col ul li a:hover{text-decoration:underline;}
.main_content .dashboard_section .dashboard_right_section{width:210px; float:right;}
.main_content .dashboard_section .dashboard_right_section .right_nav{width:210px; float:right;}
.main_content .dashboard_section .dashboard_right_section .right_nav ul{width:100%; float:left; list-style:none;}
.main_content .dashboard_section .dashboard_right_section .right_nav ul li{width:210px; float:left; display:block;}
.main_content .dashboard_section .dashboard_right_section .right_nav ul li a{width:210px; float:left; background:url(../images/orng_btn.jpg) no-repeat 0 0; text-decoration:none; padding: 5px 0}
.main_content .dashboard_section .dashboard_right_section .right_nav ul li a span{width:170px; float:left; padding:4px 0 4px 15px; font-size:12px; line-height:14px; color:#fff; font-weight:bold; text-shadow:2px 2px 2px #913d06; cursor:pointer;}

.main_content .status_section{width:100%; float:left; padding:15px 0; min-height:550px; height:auto!important; height:550px;}
.main_content .status_section .status_left_section{width:200px; float:left; padding-right:0;}
.main_content .status_section .status_left_section h3{float:left; width:100%; padding-bottom:10px; font-size:14px; line-height:18px; color:#000; font-weight:bold;}
.main_content .status_section .status_left_section p{float:left; width:100%; padding-bottom:20px; font-size:12px; line-height:14px; color:#494949;}
.main_content .status_section .status_left_section span{float:left; width:100%; padding-bottom:15px; font-size:11px; line-height:13px; color:#666;}
.main_content .status_section .status_left_section span a{color:#022d66; font-weight:bold; text-decoration:none;}
.main_content .status_section .status_left_section span a:hover{text-decoration:underline;}
.main_content .status_section .status_right_section{width:675px; float:right;}
.main_content .status_section .status_right_section h3{width:100%; float:left; font-size:32px; line-height:38px; color:#013671; text-align:center; padding-bottom:20px; font-weight:bold;}

.main_content .status_section .status_right_section .performance_section{width:100%; float:left;}
.main_content .status_section .status_right_section .performance_section .col{width:218px; float:left; margin-right:7px; display:inline; position:relative; z-index:999;}
.main_content .status_section .status_right_section .performance_section .col .col_details{width:218px; float:left; padding-bottom:5px;}
.main_content .status_section .status_right_section .performance_section .col .col_details h4{width:168px; float:left; height:51px; padding:15px 25px 0; text-align:center; font-weight:normal; font-weight:bold;}
.main_content .status_section .status_right_section .performance_section .col .col_details ul{width:202px; float:left; list-style:none; padding-left:9px;}
.main_content .status_section .status_right_section .performance_section .col .col_details ul li{width:202px; float:left; text-align:center; display:block; background:url(../images/pre_btn_bg.png) no-repeat 0 0; height:20px; padding-top:5px;}
.main_content .status_section .status_right_section .performance_section .col .col_details ul li a{font-size:12px; line-height:14px; color:#fff; text-decoration:none;}

.main_content .status_section .status_right_section .performance_section .col.blue{width:218px; float:left; background:url(../images/per.blue_middle_repaet.jpg) repeat-y 0 0;z-index:99;}
.main_content .status_section .status_right_section .performance_section .col.blue_selected{width:218px; float:left; background:url(../images/per.blue_middle_repaet_selected.jpg) repeat-y 0 0;z-index:99;}
.main_content .status_section .status_right_section .performance_section .col.blue .col_details{width:218px; float:left; background:url(../images/per.blue_top_curve.jpg) no-repeat 0 0; min-height:144px; height:auto!important; height:144px;}
.main_content .status_section .status_right_section .performance_section .col.blue_selected .col_details{width:218px; float:left; background:url(../images/per.blue_top_curve_selected.jpg) no-repeat 0 0; min-height:144px; height:auto!important; height:144px;}
.main_content .status_section .status_right_section .performance_section .col.orange{width:218px; float:left; background:url(../images/per.orange_middle_repaet.jpg) repeat-y 0 0;z-index:9;}
.main_content .status_section .status_right_section .performance_section .col.orange_selected{width:218px; float:left; background:url(../images/per.orange_middle_repaet_selected.jpg) repeat-y 0 0;z-index:9;}
.main_content .status_section .status_right_section .performance_section .col.orange .col_details{width:218px; float:left; background:url(../images/per.orange_top_curve.jpg) no-repeat 0 0; min-height:144px; height:auto!important; height:144px;}
.main_content .status_section .status_right_section .performance_section .col.orange_selected .col_details{width:218px; float:left; background:url(../images/per.orange_top_curve_selected.jpg) no-repeat 0 0; min-height:144px; height:auto!important; height:144px;}
.main_content .status_section .status_right_section .performance_section .col.orange .col_details h4{padding-top:25px; height:41px;}
.main_content .status_section .status_right_section .performance_section .col.pink{width:218px; float:left; background:url(../images/per.pink_middle_repaet.jpg) repeat-y 0 0;z-index:8;}
.main_content .status_section .status_right_section .performance_section .col.pink_selected{width:218px; float:left; background:url(../images/per.pink_middle_repaet_selected.jpg) repeat-y 0 0;z-index:8;}
.main_content .status_section .status_right_section .performance_section .col.pink .col_details{width:218px; float:left; background:url(../images/per.pink_top_curve.jpg) no-repeat 0 0; min-height:144px; height:auto!important; height:144px;}
.main_content .status_section .status_right_section .performance_section .col.pink_selected .col_details{width:218px; float:left; background:url(../images/per.pink_top_curve_selected.jpg) no-repeat 0 0; min-height:144px; height:auto!important; height:144px;}
.main_content .status_section .status_right_section .performance_section .col.pink .col_details h4{padding-top:25px; height:41px;}
.main_content .status_section .status_right_section .performance_section .col .arrow_section{width:33px; position:absolute; z-index:999; top:25px; right:-20px;}
.main_content .status_section .status_right_section .performance_section .col .arrow_section a{width:33px; float:left; margin-bottom:5px; display:inline;}
.main_content .status_section .status_right_section .performance_section .col .arrow_section a img{float:left;}

.main_content .status_section .nextstep {float:none;}

/******** impact statement **********/
.inpact_statement{width:910px; float:left; padding:25px 35px 15px;}

/******** impact statement end **********/


/******** footer **********/
#outer_footer { width:100%; float:left; background:#011222 url(../images/footer_bg.jpg) repeat-x 0 0; margin-top:-42px; position:relative; z-index:9; padding-top:70px; }
#footer { width:980px; float:left; padding-bottom:20px; }
#footer h4 { font-size:18px; color:#fff; font-family:"Myriad Pro"; font-weight:normal; padding:0px 0px 11px; float:left; line-height:20px; width:100%; }
#footer .col1 { width:290px; float:left; margin-left:25px; display:inline; }
#footer .col1 p { font-size:12px; color:#cccccc; line-height:18px; padding-bottom:20px; }
#footer .col2 { width:290px; float:left; border-left:1px solid #808d98; padding-left:30px; min-height:115px; height:auto !important; height:115px; }
#footer .col2 ul { width:100%; float:left; list-style:none; padding-bottom:10px; }
#footer .col2 ul li { width:auto; float:left; font-size:12px; background:url(../images/divider.gif) no-repeat left center; padding:0 10px; }
#footer .col2 ul li a { color:#fff7a3; text-decoration:none; text-decoration:underline; }
#footer .col2 ul li a:hover { text-decoration:none; }
#footer .col2 ul li.none { background:none; padding-left:0; }
#footer .col2 p { font-size:12px; color:#cccccc; line-height:18px; padding-bottom:7px; }
#footer .col2 .social_link{ float:left; width:auto}
#footer .col2 .board_logo{ float:left}
#footer .col2 form { width:100%; float: left; }
#footer .col2 .row { width:100%; float:left; padding-bottom:10px; }
#footer .col2 .row .input_box { width:221px; height:25px; float:left; background:url(../images/input_bg.gif) no-repeat 0 0; margin-top:1px; }
#footer .col2 .row .input_box input { width:201px; float:left; border:0; background:none; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#565656; padding:6px 10px; }
#footer .col2 .row input.btn { width:31px; height:27px; float:left; border:0; background:url(../images/search_btn.gif) no-repeat 0 0; margin-top:0; cursor:pointer; margin-left:7px; } 
 
/******** footer ends **********/

.button_with_arrow {position: relative; width: 100%;  /* for IE 6 */  }    
.button_with_arrow h3 {position: absolute; top: 6px; left: 3px; width: 100%; color: white; color: white; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; letter-spacing: 0px; cursor:inherit;}
.button_orange {position: relative;  width: 100%; text-decoration:none; /* for IE 6 */ }    
.button_orange h5 {position: absolute; top: 6px; left: 15px; width: 100%; color: white; color: white; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; letter-spacing: 0px; cursor:inherit;}
.abutton_orange h5 span { text-decoration:none; }

.bginput{ float:right; margin: 20px 5px 0 0px; background: url(../images/big_orange_button.png) no-repeat; overflow:hidden; height:29px;}
.bginput a{ color: white; text-align:center; height:29px; line-height:26px; padding:0 14px 10px; cursor:pointer; float:left; border:none; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; letter-spacing: 0px;}
.bginput a:hover{ text-decoration:none; }

.modules_overview_outcome{ float:left; width:100%; padding-top:10px; padding-bottom:10px;}
.modules_overview_outcome ul{ float:left; width:100%; list-style:none padding:0px 0px 0px 0px;}
.modules_overview_outcome ul li{ float:left; width:100%; padding-bottom:0px; padding:0px 0px 0px 0px;}
.modules_overview_outcome ul li p{ float:left; width:100%; font-size:12px; color:#202020; line-height:0px;  padding:15px 15px 15px 15px;}

