﻿body {
    margin: 2px 0px 0px 0px;
    background-color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.0em;
    color: Black;
}

.site_area 
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.logo_area
{
    background-color: Silver;
    height: 110px;
    width: 100%;
}

/*
table
{
  border-color: Red;
  border-width: 0px;
  border-style: solid;
}
*/

.menu_bar
{
    width: 100%;
    background-color: #dddddd;
    padding-top: 2px;
}

.menu_default
{
    background-color: #dddddd;
    margin-left: 8px;
    margin-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu_static 
{
    padding-left: 0px;
    padding-right: 0px;
}

.menu_hover 
{
    background-color: #284E98;
    color: Black;
}

.menu_hover A
{
    color: White;
}

.menu_selected
{
    background-color: #284E98;
    color: White;
}

.menu_selected A
{
    background-color: #284E98;
    color: White;
}

.title_bar
{
    width: 100%;
    background-color: #284E98;
    padding-top: 0px;
    color: White;
    padding-top: 5px;
    padding-bottom: 4px;
}

.title_bar h2
{
    font-size: 1.0em;
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-weight: normal;
}

.content_frame
{
    width: 798px;
    border: 1px solid #818181;
    margin-top: 2px;
    font-size: 0.8em;
}

#content 
{
    margin: 10px 10px 10px 10px ;
}

#footer
{
    width: 100%;
    background-color: #284E98;
    font-size: .8em;
    margin-top: 2px;
    text-align: center;
    line-height: 1.8em;
    color: #5b8ecb;
}

#footer a:link, #footer a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}

#footer a:hover
{
    color: #D4E7F8;
    text-decoration: none;
}

#footer a:active
{
    color: #FFFFFF;
}

