﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PIMMasterPage.master" AutoEventWireup="true" CodeFile="MyAccount.aspx.cs" Inherits="abo_MyAccount" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
         <!-- module detaile -->
            <div class="main_content" style="padding-right: 100px;">
            <div class="heading_box" >
              <h2><strong>My Account</strong></h2>
            </div>
            <div class="imporvenment_plan_details">
              <div class="top_details">
              <p>Link back to Diplomate's Account Page on ABOP main site...
                </p>
              </div>
              <div class="bginput"><asp:LinkButton ID="ButtonSubmit" runat="server" Text=" Back " PostBackUrl="Dashboard.aspx"/></div>
              </div>
            </div>
          <!-- module detaile ends --> 
</asp:Content>

